<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <Button (click)="openTaskAdder()">Add Task</Button>
    </menu>
  </header>
  @if(onCLickTask()) {
    <input type="text" #taskInput  placeholder="add task..." (input)="onInput($event)"   />
    <input (click)="addTask(taskInput)" type="submit" value="Add Task" />
  }
    @if (tasks) {
      <ul>
        @for (task of filterTasks; track task.id) {
          <li>
            <app-task [tasks]="task"/>
          </li>
        }
      </ul>
    }
</section>
